.form {
	display: flex;
	gap: 0.5rem;

	width: 46rem;
	height: 3.375rem;
}

@media (max-width: 768px) {
	.form {
		width: 100%;
		flex-direction: column;
		margin-bottom: 2rem;
	}
}

.form > input {
	flex: 1;
	background-color: var(--gray-500);
	outline: none;
	border: none;
	color: var(--gray-100);
	padding: 1rem;
	border-radius: 8px;
}

.form > input::placeholder {
	color: var(--gray-300);
	font-size: 1rem;
}

.form > input:focus {
	border: 1px solid var(--purple-700);
}

.form > button {
	background: var(--blue-700);
	border: none;
	border-radius: 8px;
	color: var(--gray-100);
	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	padding: 1rem;
	transition: background-color 0.2s;
}

.form > button:hover {
	background: var(--blue-500);
	cursor: pointer;
}
